html, body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.85em;
}

h1 {
	margin: 0;
	padding: 0;
}

h2 {
	margin: 0;
	padding: 0;
}

.leftmenu {
	float: left;
	width: 19em;
	background-color: #99FF99;
	border: 1px solid #339933;
	border-left: 0;
}

.leftmenu h2 {
	display: none;
}

.content {
	height: 100%;
	padding: 0.9em;
	padding-top: 0;
	margin-left: 20em;
}

.content h2 {
	display: none;
}

.menu {
	margin-bottom: 1.8em;
}

.menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu ul li a {
	display: block;
	border-bottom: 1px solid #339933;
	text-decoration: none;
	padding: 0.9em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	color: #000000;
}

.menu ul li a:hover {
	background-color: #CCFFCC;
}

.chat {
	margin: 0;
	padding: 0.9em;
	list-style: none;
}

.chat .messages {
	height: 19em;
	overflow: auto;
	border: 1px solid #339933;
	padding: 0.2em;
	background-color: #CCFFCC;
}

.chat .message {
	display: block;
}

.chat .message .name {
	font-weight: bold;
}

.chat .message.p1 {
	color: #000066;
}

.chat .message.p2 {
	color: #660000;
}

.chat .message.p3 {
	color: #666600;
}

.chat .message.p4 {
	color: #006666;
}

.chat .message.p5 {
	color: #660066;
}

.chat form {
	margin: 0;
	padding: 0;
}

.chat form input.inputMessage {
	margin: 0;
	padding: 0;
	width: 100%;
	border: 1px solid #339933;
}

.chat .players {
	margin-bottom: 0.2em;
}

.dice .empty {
	width: 80px;
	height: 90px;
	display: block;
	/* 
	Load the image but place it way out of sight. In this way we have ensured 
	that the image is loaded and ready when needed.  
	*/
	background: url(../images/cube_dice.png) no-repeat 1000px 1000px;
}

.dice .dice_1 {
	width: 80px;
	height: 90px;
	display: block;
	background: url(../images/cube_dice.png) no-repeat 0 0;
}

.dice .dice_2 {
	width: 80px;
	height: 90px;
	display: block;
	background: url(../images/cube_dice.png) no-repeat -80px 0;
}

.dice .dice_3 {
	width: 80px;
	height: 90px;
	display: block;
	background: url(../images/cube_dice.png) no-repeat -160px 0;
}

.dice .dice_4 {
	width: 80px;
	height: 90px;
	display: block;
	background: url(../images/cube_dice.png) no-repeat -240px 0;
}

.dice .dice_5 {
	width: 80px;
	height: 90px;
	display: block;
	background: url(../images/cube_dice.png) no-repeat -320px 0;
}

.dice .dice_6 {
	width: 80px;
	height: 90px;
	display: block;
	background: url(../images/cube_dice.png) no-repeat -400px 0;
}

.dice .hold {
	display: block;
	text-align: center;
	font-weight: bold;
}

.rollLink {
	clear: both;
	display: block;
}

.rollLink img {
	border: 0;
}

span.rollLink img {
	opacity: 0.5;
	filter: alpha(opacity = 50);
}

/* SCORE CARD */
.scoreCard a {
	text-decoration: none;
	display: block;
	color: #EB5A0A;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
}

.scoreCard a:hover {
	text-decoration: underline;
	background-color: #F5F5F5;
}

.scoreCard a.selected {
	background-color: #CCCCCC;
}

.scoreCard {
	border-top: 1px solid #666666;
	border-left: 1px solid #666666;
	width: 100%;
}

.scoreCard td,.scoreCard th {
	border-right: 1px solid #666666;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
}

.scoreCard td.combination {
	padding: 0;
}

.scoreCard td.combination span {
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
}

.scoreCard tbody td {
	border-top: 1px solid #CCCCCC;
}

.scoreCard tfoot td {
	border-bottom: 1px solid #666666;
}

.scoreCard .value {
	text-align: right;
}

.scoreCard .currentPlayer {
	background-color: #FFFFCC;
}

.scoreCard .sum {
	background-color: #F0F0F0;
	font-weight: bold;
}

.scoreCard .currentPlayerSum {
	background-color: #F0F0C0;
}

.scoreCard .grandTotal {
	background-color: #E0E0E0;
	font-weight: bold;
}

.scoreCard .currentPlayerGrandTotal {
	background-color: #E0E0B3;
}

.highscore h2 {
	margin-top: 20px;
	margin-bottom: 5px;
	display: block;
}

.highscore table th,.highscore table td {
	text-align: left;
	padding: 2px;
	padding-left: 7px;
	padding-right: 7px;
}

.highscore table td {
	border-top: 1px solid #669966;
}

.highscore .rank {
	height: 20px;
	padding-left: 20px;	
}

.highscore .rank.r1 {
	background: url(../images/medal_gold_3.png) no-repeat center left;
}

.highscore .rank.r2 {
	background: url(../images/medal_silver_3.png) no-repeat center left;
}

.highscore .rank.r3 {
	background: url(../images/medal_bronze_3.png) no-repeat center left;
}

.highscore .detailLink {
	padding-left: 20px;
	background: url(../images/magnifier.png) no-repeat center left;	
}

.btn {
	display: block;
	position: relative;
	background: #aaa;
	padding: 5px;
	float: left;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	margin-right: 1em;
}

.btn * {
	font-style: normal;
	background-image: url(../images/btn2.png);
	background-repeat: no-repeat;
	display: block;
	position: relative;
}

.btn i {
	background-position: top left;
	position: absolute;
	margin-bottom: -5px;
	top: 0;
	left: 0;
	width: 5px;
	height: 5px;
}

.btn span {
	background-position: bottom left;
	left: -5px;
	padding: 0 0 5px 10px;
	margin-bottom: -5px;
}

.btn span i {
	background-position: bottom right;
	margin-bottom: 0;
	position: absolute;
	left: 100%;
	width: 10px;
	height: 100%;
	top: 0;
}

.btn span span {
	background-position: top right;
	position: absolute;
	right: -10px;
	margin-left: 10px;
	top: -5px;
	height: 0;
}

* html .btn span,* html .btn i {
	float: left;
	width: auto;
	background-image: none;
	cursor: pointer;
}

.btn.blue {
	background: #2ae;
}

.btn.green {
	background: #9d4;
}

.btn.pink {
	background: #e1a;
}

.btn:hover {
	background-color: #a00;
}

.btn:active {
	background-color: #444;
}

.btn[class] {
	background-image: url(../images/shade.png);
	background-position: bottom;
}

* html .btn {
	border: 3px double #aaa;
}

* html .btn.blue {
	border-color: #2ae;
}

* html .btn.green {
	border-color: #9d4;
}

* html .btn.pink {
	border-color: #e1a;
}

* html .btn:hover {
	border-color: #a00;
}
